
{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>
Logo
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis officia debitis sed, et error delectus quod? Quas aliquam, assumenda dolorum quasi sit placeat dolor necessitatibus eveniet fugit! Incidunt, asperiores nemo.
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/logothun.png" alt="" class="img-thumbnail">
    </div>
</div>

 {{> footer}}